<header class="{% if page.url == '/' %} slider {% else %} slider-pages {% endif %}">

    <div class="{% if page.url == '/' %}bgblack{% else %}bgblack plus{% endif %}"></div>

    <a style="position: fixed; bottom: 0; right: 0; z-index: 3" class="button" href="tel:{{ site.data.company.phone }}">
        <i class="fa fa-phone" aria-hidden="true"></i> {{ site.data.company.call_phone }}
    </a>

    <div style="position: fixed; bottom: 10px; left: 10px; z-index: 3" class="elfsight-app-c153e4e4-524a-4c69-afa5-28f9dc296b7d"></div>

    <div {% if page.url == "/" %} class="menu" {% else %} class="menu" {% endif %}>
        <div class="container-fluid">
            <div class="row d-md-flex ai-center jc-sb">
                <div class="col-md-2 col-lg-2 col-xs-6 logo-wrapper">
                    <a href="{{ site.baseurl }}/"><img style="width: 130px; object-fit: contain;" src="{{ site.baseurl }}/assets/img/logo-mbp2.png" /></a>
                </div>
                <div class="col-md-3 col-lg-1 col-xs-6 rge-wrapper">
                    <img src="{{ site.baseurl }}/assets/img/logo-eco-quali-pac.png" alt="eco quali pac" class="img-responsive">
                    <img src="{{ site.baseurl }}/assets/img/logo-manipulateur.jpg" alt="logo manipulateur" class="img-responsive">
                </div>
                <div class="col-md-7 col-lg-9 col-xs-12 text-center">
                    {% include navbar.html %}
                </div>
            </div>
        </div>
    </div>
    {% if page.url == "/" %}
        {% include slider.html %}
    {% else %}
        {% include slider2.html %}
    {% endif %}

</header>