<head>
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-P8DKTRH');</script>
    <!-- End Google Tag Manager -->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-137972487-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-137972487-1');
    </script>

    <meta charset="UTF-8">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ site.baseurl }}/assets/img/favicon.png" type="image/x-icon" />

    <title>{{ page.title }}</title>
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:locale" content="fr_FR" />
    <meta name="description" content="{{ page.description }}" />
    <meta property="og:description" content="{{ page.description }}" />
    <meta name="keywords" content="{{ page.keywords }}" />
    <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
    <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
    <meta property="og:site_name" content="{{ site.data.company.name }}" />
    <script type="application/ld+json">
        {
            "@context":"https://schema.org",
            "@type":"WebSite",
            "url":"{{ site.url }}{{ page.url }}",
            "description":"{{ page.description }}",
            "name":"{{ page.title }}"
        }
    </script>

    <!--[if lt IE 9]>
        <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/animate.css">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/global.css">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/bxslider.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/clockpicker.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/zoombox.css" />
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/blueimp-gallery.min.css">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/owl.carousel.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/owl.theme.default.min.css" />

    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli:400,600,700,800,900" rel="stylesheet">
    <script src="https://apps.elfsight.com/p/platform.js" defer></script>
</head>