<nav class="">
  <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
  </div>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="">
            <li><a class="{% if page.url == '/' %}active{% endif %}" href="{{ site.baseurl }}/" >Accueil</a> </li>
            <li>
              <a class="{% if page.url == 'qui-sommes-nous' %}active{% endif %}" href="{{ site.baseurl }}/qui-sommes-nous" >Qui sommes-nous ?</a>
            </li>
            <li>
              <a class="{% if page.url == 'nos-realisations' %}active{% endif %}" href="{{ site.baseurl }}/nos-realisations" >Nos realisations</a>
            </li>
            <li>
              <a href="https://www.chauffagiste91.fr/" target="_blank" >Chaudière</a>
            </li>
            <li>
              <a href="{{ site.baseurl }}/contrats-entretien" class="{% if page.url == 'contrats-entretien' %}active{% endif %}">Contrats d'entretien</a>
            </li>
           
            <li class="resp-contact">
              <a class="{% if page.url == 'contact' %}active{% endif %}" href="{{ site.baseurl }}/contact" >Contact</a>
            </li>
            <li class="devis">
               <a class="button" href="{{ site.baseurl }}/devis">Devis gratuit</a>
            </li>
        </ul>
    </div>
</nav>