<div class="predevis">
    <!-- <div class="form-top">
        <span>Simulez votre crédit</span>
    </div> -->
    <div class="inner-predevis">
        <form method="post" action="{{ site.data.company.url.notify }}">
            <input type="hidden" name="lang" value="fr">
            <input type="hidden" name="type" value="Pre devis">
            <input type="hidden" name="website" value="{{ site.data.company.websiteId }}">
            <input type="hidden" name="redirectUrl" value="{{site.url}}/formulaire-succes">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control " id="lastname" name="lastname" value=""
                            placeholder="Nom">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control " id="email" name="email" value="" placeholder="Email">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group has-feedback">
                        <input type="text" class="form-control " id="phone" name="phone" value=""
                            placeholder="Téléphone">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group has-feedback">
                        <select class="form-control" name="select1" id="select1">
                            <option value="">Prestations:</option>
                            <option value="Pompes à chaleur">Pompes à chaleur</option>
                            <option value="Climatisation">Climatisation</option>
                            <option value="Ballon thermodynamique">Ballon thermodynamique</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group has-feedback">

                        <textarea class="form-control" name="message" rows="6" placeholder="Message"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 text-center">
                    <div class="form-group">
                        <input type="hidden" name="g-recaptcha-response" id="g-recaptcha-response">
                        <button type="submit" name="devis" class="button large" onclick="return validateForm(event)">Envoyer</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
function validateForm(event) {
    event.preventDefault();
    grecaptcha.ready(function() {
        grecaptcha.execute('6LcOa0ErAAAAACIAj_x95lN3JR_DwyiXCBFjPqKi', {action: 'pre-devis'})
        .then(function(token) {
            document.getElementById('g-recaptcha-response').value = token;
            document.querySelector('form').submit();
        });
    });
    return false;
}
</script>