<div class="middle">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="fadeInDown animated">
                    <div class="middle-text">
                        <h1>Faites des économies d'énergie !<br> Choisissez nos pompes à chaleur en Essonne.</h1>
                        <h2>Remplissez notre formulaire en ligne pour obtenir un rendez-vous ou un tarif !</h2>
                        <h2>Pour toutes autres prestations, rendez-vous sur <a href="https://www.chauffagiste91.fr/" target="_blank">notre site</a>.</h2>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="lead fadeInRight animated">
                    {% include pre-devis.html %}
                </div>
            </div>
        </div>

    </div>
</div>