{% if page.url == "/qui-sommes-nous" %}
<div class="middle middle-page">
    <div class="container text-center">
        <h1>L’entreprise MBP et ses prestations</h1>
    </div>
</div>
{% elsif page.url == "/nos-realisations" %}
<div class="middle middle-page">
    <div class="container text-center">
        <h1>Nos réalisations</h1>
    </div>
</div>
{% elsif page.url == "/contrats-entretien" %}
<div class="middle middle-page">
    <div class="container text-center">
        <h1>Contrat d'entretien annuel obligatoire</h1>
    </div>
</div>
{% elsif page.url == "/contact" or page.url == "/contact-success" %}
<div class="middle middle-page">
    <div class="container text-center">
        <h1>Contactez-nous</h1>
    </div>
</div>
{% elsif page.url == "/devis" or page.url == "/devis-success" %}
<div class="middle middle-page">
    <div class="container text-center">
        <h1>Votre devis gratuit</h1>
    </div>
</div>
{% elsif page.url == "/pompe-a-chaleur-vigneux-sur-seine" %}
<div class="middle middle-page">
    <div class="container text-center">
        <h1>MBP Expert en pompe à chaleur à Vigneux-sur-Seine (91270)</h1>
    </div>
</div>
{% elsif page.url == "/sav-daikin-piece-detache" %}
<div class="middle middle-page">
    <div class="container text-center">
        <h1>MBP : Fournisseur Agréé de Pièces Détachées Daikin</h1>
    </div>
</div>
{% elsif page.url == "/sav-pompe-a-chaleur-daikin" %}
<div class="middle middle-page">
    <div class="container text-center">
        <h1>Réparation et entretien de pompe à chaleur Daikin : votre expert à votre service</h1>
    </div>
</div>
{% endif %}